@use '../../../styles/colors' as c;

.container {
  padding: 7px;
  border-radius: 4px;
  color: c.$white; // NOTE: I added here some examples of usage of SASS variables.
  background-color: c.$red;
}

.btnLike {
  cursor: pointer;
}

.pokeball {
  position: absolute;
  margin-top: 10px;
  border: 1px solid c.$gray;
  border-radius: 20px 20px 20px 20px;
}

.pokeballContent {
  background-color: c.$white;
  padding: 10px;
}

@mixin topBotton { // NOTE: I included here an example of usage of SASS mixins.
  background-color:c.$red;
  height: 20px;
}

.pokeballTop {
  @include topBotton;
  border-radius: 20px 20px 0px 0px;
}

.pokeballBotton {
  @include topBotton;
  border-radius: 0px 0px 20px 20px;
}

.badge {
  padding: 0px 4px 1px 4px;
  margin-left: 4px;
  border-radius: 10px;
  background-color: c.$rose;
}